In [1]:
import numpy as np
from scipy import stats

rng = np.random.default_rng()
sample1 = stats.uniform.rvs(size=100, random_state=rng)
sample2 = stats.norm.rvs(size=110, random_state=rng)
response = stats.ks_2samp(sample1, sample2)

In [2]:
sample1

array([0.6690255 , 0.16240176, 0.23742996, 0.52281513, 0.56854207,
       0.43872618, 0.82808588, 0.59238067, 0.47526477, 0.62382277,
       0.33446338, 0.67559495, 0.37092194, 0.17973357, 0.08241005,
       0.10752282, 0.49066384, 0.47589574, 0.57732104, 0.13450159,
       0.57705542, 0.85501603, 0.63923817, 0.22370589, 0.0843668 ,
       0.88328019, 0.33959148, 0.78245998, 0.55786482, 0.01626221,
       0.51430878, 0.78190969, 0.02457947, 0.4434481 , 0.81243016,
       0.69677835, 0.99190386, 0.35022521, 0.6892023 , 0.74192897,
       0.07660154, 0.82005331, 0.87300319, 0.32198642, 0.40988618,
       0.05767547, 0.67665469, 0.79344507, 0.08652067, 0.5818485 ,
       0.33935578, 0.73014783, 0.44687202, 0.0025075 , 0.52333938,
       0.57359839, 0.29505794, 0.79102535, 0.90679622, 0.26002589,
       0.86231285, 0.03504964, 0.79873246, 0.70091576, 0.15384435,
       0.19539908, 0.93885469, 0.10819221, 0.95411733, 0.32382445,
       0.03027252, 0.37155806, 0.6624494 , 0.25086081, 0.36590713,
       0.27301334, 0.10642502, 0.77707854, 0.04764392, 0.23488668,
       0.11422416, 0.297914  , 0.0506921 , 0.2405096 , 0.4141029 ,
       0.04082674, 0.04342457, 0.43254901, 0.4811902 , 0.46147504,
       0.53918085, 0.78432324, 0.229723  , 0.64615761, 0.43634327,
       0.09318642, 0.44510384, 0.90177735, 0.68796819, 0.01129443])

In [3]:
sample1.dtype

dtype('float64')

In [4]:
sample2

array([ 1.63095554, -0.79471431,  1.73001944,  1.82845089, -0.20421511,
       -0.45149664,  1.84378088, -0.08373445, -0.09833452, -0.26772598,
        0.15660486, -1.28951929, -0.44955521, -1.29122186,  0.70062782,
       -0.72682821,  0.79684836, -0.30472479,  0.46762817, -0.03515294,
        1.44589723,  0.85868259, -0.22698751, -0.37066245, -2.08824687,
        1.38349729, -0.19067684, -0.3575102 ,  0.48686077, -1.42055966,
        0.94392544,  0.75219467,  0.09437734,  0.6884586 , -1.0333887 ,
        0.85621751, -1.33874822, -0.62407423,  0.4542438 ,  0.26874253,
       -0.56870428,  0.0525656 , -0.34062772, -1.34771436, -0.33965559,
        0.58953259,  0.02251598,  0.82168127, -0.46760029, -2.22027288,
       -0.31522106, -1.99032441,  1.89619316,  0.11536334, -0.12719013,
        0.89548966,  1.03599383,  0.15831507, -2.40495616,  0.62079538,
       -1.30548163,  0.90139498,  0.99807956, -1.05484218, -0.46607457,
        0.34433939, -1.15926243, -1.22328121, -0.07914958, -1.15473977,
        0.88041641,  1.28501202,  1.933998  , -0.58896842, -0.01743805,
       -0.91190036, -0.67662945,  0.19524376, -0.44654723, -0.81709402,
       -2.11980924, -0.63902165,  1.07121229,  1.34906445, -1.29624921,
        0.19494442, -1.64771437, -0.73847876,  1.14344574, -0.00603206,
       -0.54799991,  0.61310419, -1.18549697, -0.65105718,  0.9556931 ,
        1.06630597, -2.97771903, -1.65625855, -0.26253536, -1.07133094,
        0.81153893,  0.65262389, -1.13399715,  1.1503559 , -0.04473528,
       -1.18491982, -0.14156644,  0.41803223, -1.83649466, -0.98301795])

In [5]:
response

KstestResult(statistic=0.5727272727272728, pvalue=1.9839344857931964e-16)

In [6]:
response.pvalue

1.9839344857931964e-16

In [12]:
round(response.pvalue,16)

2e-16

In [13]:
# Anomaly detection in my dataset
#
# 1. High Null Value
# 2. Missing Columns
# 3. Outlier
# 4. Categorical:
#   Gender--> MALE, FEMALE, OTHER

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/config/workspace/artifact/12042022__110530/data_ingestion/dataset/train.csv")

In [30]:
len(df.iloc[:,[0]].drop("class",axis=1).columns)

0

In [3]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,pos,153204,0.0,182.0,NaN,0.0,0.0,0.0,0.0,0.0,...,129862.0,26872.0,34044.0,22472.0,34362.0,0.0,0.0,0.0,0.0,0.0
1,pos,453236,NaN,2926.0,NaN,0.0,0.0,0.0,0.0,222.0,...,7908038.0,3026002.0,5025350.0,2025766.0,1160638.0,533834.0,493800.0,6914.0,0.0,0.0
2,pos,72504,NaN,1594.0,1052.0,0.0,0.0,0.0,244.0,178226.0,...,1432098.0,372252.0,527514.0,358274.0,332818.0,284178.0,3742.0,0.0,0.0,0.0
3,pos,762958,NaN,NaN,NaN,NaN,NaN,776.0,281128.0,2186308.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pos,695994,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,1397742.0,495544.0,361646.0,28610.0,5130.0,212.0,0.0,0.0,NaN,NaN

In [13]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
for l1_val,l2_val in zip(l1,l2):
    print(l1_val,l2_val)

1 5
2 6
3 7
4 8

In [25]:
null_report = df.isnull().sum() / df.shape[0]
null_report[null_report > 0.3].index

Index(['ab_000', 'bk_000', 'bl_000', 'bm_000', 'bn_000', 'bo_000', 'bp_000',
       'bq_000', 'br_000', 'cr_000'],
      dtype='object')

In [14]:
drop_column_name = []
for column_name, missing_percentage in zip((df.isnull().sum() / df.shape[0]).index , (df.isnull().sum() / df.shape[0]).values):
    # print(column_name,":",missing_percentage*100)
    if missing_percentage > 0.3:
        drop_column_name.append(column_name)

In [15]:
drop_column_name

['ab_000',
 'bk_000',
 'bl_000',
 'bm_000',
 'bn_000',
 'bo_000',
 'bp_000',
 'bq_000',
 'br_000',
 'cr_000']